@font-face {
  font-family: "MyBerlinXBold";
  src: url("berlin.x-bold.ttf");
}
html {
  color: white;
  background-image: url(https://raw.githubusercontent.com/Pidlik/SloganViewer/master/FoxberryLogo_big.png);
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 96px;
  height: 90%;
}

body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.compass {
  position: absolute;
  left: 52%;
  top: 55%;
  width: 20%;
  height: 20%;
  text-align: center;
}
  .compass__rose {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .compass__rose__dial {
    height: 90%;
    width: 90%;
  }

  .compass__pointer {
    height: 90%;
    width: 90%;
    transform: var(--wind-dir);
  }

  .compass__wind {
    color: white;
    font-size: 32px;
    position: absolute;
    top: 70%;
    left: 0;
    right: 0;
  }

  .compass__temp {
    color: white;
    font-size: 128px;
    position: absolute;
    top: -100px;
    left: -150%;
    right: 0;
  }