@font-face {
  font-family: "MyBerlinXBold";
  src: url("berlin.x-bold.ttf");
}
html {
  color: white;
  background-image: url("FoxberryLogo_narrow.png");
  /*background-position: /*right 1000px bottom 150px;*/
  font-family: "Helvetica";
  font-weight: bold;
  font-size: 96px;
  height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 1079px;
  width: 607px
}

.compass {
  position: absolute;
  top: 200px;
  width: 607px;
  height: 200px;
  text-align: center;
}
.compass__rose {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.compass__rose__dial {
  height: 90%;
  width: 90%;
}

.compass__pointer {
  height: 90%;
  width: 90%;
  transform: var(--wind-dir);
}

.compass__wind {
  color: white;
  font-size: 32px;
  position: absolute;
  top: 70%;
  left: 0;
  right: 0;
}

.compass__temp {
  color: white;
  font-size: 96px;
  position: absolute;
  bottom: 40%;
  left: 0;
  right: 0;
}

.yr_script {
  position: absolute;
  top: 690px;
  left: 840px;
}

/* To be updated and added later */
.forecast {
  position: absolute;
  font-size: 24px;
  height: 40px;
  top: 690px;
  left: 840px;
}

.forecast__table {
  border-collapse: collapse;
  border: 0px;
}
.forecast__img {
  width: 50px;
}

